<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id='app'>
    {{msg}}
    <p v-if='seen'> i am seen </p>
    <ul>
      <li v-for='item in code'> {{item}}  </li>
    </ul>
    <b>{{enterMsg}}</b>
    <div>
      ---- eeee -- {{dealInputCom}}
    </div>
    <input v-model="enterMsg">
    <button @click='dealInput'> i am button </button>
    <p>
      {{ seen ? 'seen -- 111' : 'no -- seen' }}
    </p>
    <!-- <ul>
      <todo-item v-for='item in groceryList' v-bind:dos='item' v-bind:key='item.id'></todo-item>
    </ul> -->
    <div>
      i am {{firstName}}
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    let vm = new Vue({
      el: '#app',
      data: {
        msg: 'i am msg' + new Date().toLocaleString(),
        seen: true,
        code: [1, 2, 3],
        enterMsg: 'enterMsg',
        groceryList: [
          { id: 0, text: '蔬菜' },
          { id: 1, text: '奶酪' },
          { id: 2, text: '随便其它什么人吃的东西' }
        ],
        firstName: 'Foo',
        lastName: 'Bar',
        fullName: 'Foo Bar'
      },
       created: function () {
        // `this` 指向 vm 实例
        console.log('a is: ' + this.code)
      },
      computed : {
        dealInputCom: function () {
          console.log(this.enterMsg)
          return this.enterMsg.split('').reverse().join('')
        }
      },
      methods: {
        dealInput : function () {
          console.log(this.enterMsg)
          this.enterMsg = this.enterMsg.split('').reverse().join('')
        }
      },
      watch: {
        firstName: function (val) {
          this.fullName = val + ' ' + this.lastName
        },
        lastName: function (val) {
          this.fullName = this.firstName + ' ' + val
        }
      }
    })

    vm.code = new Array(10).fill('kk')

    // Vue.component('todo-item', {
    //   props: ['dos'],
    //   template: '<li> {{ dos.text }}</li>'
    // })
  </script>
</body>
</html>